:root {
  --bg-color: black;
  --fg-color: white;
  --accent-color: teal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: lightgray;
  letter-spacing: 2px;
}

.header {
  background-color: var(--bg-color);
  height: 100px;
  color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;;  
}

h1 {
  font-size: 4rem;
  font-style: italic;
  letter-spacing: 20px;
}

main {
  
  
}

.picture-section {
   margin: 0 auto;
  margin-top: 100px;
  margin-bottom: 50px;
  width: 80vw;
  padding: 1rem;
  box-shadow: 10px 10px green;
}

.picture-section img {
   width: 100%;
   box-shadow: 5px 5px red;
}

figcaption {
  font-size: 1.2rem;
  margin-top: .5rem;
  text-align: center;
  color: darkslategray;
  
}

.table {
  margin: 0 auto;
  width: 80vw;
  border: 2px solid grey;
}

.table td, table th {
  padding: 5px;
  font-size: 1.3em;
  border: 2px solid red;
  
}

table th {
  color: lightgrey;
}

.table tr:nth-child(even) {
  background-color: lightgrey;
  
}
.table tr:nth-child(odd) {
  background-color: green;
  color: lightgrey;
}
 

 #footer {
   margin-top: 2em;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 80px;
   background-color: var(--bg-color);
   color: var(--fg-color);
   font-size: 1.2rem;
   letter-spacing: 4px;
 }
